.cardMain{
    border: none;
    width: 250px;

    img {
        max-width: 520px;
        max-height: 345px;
    }

    &:hover{
        cursor: pointer;
    }

    .card-text{
        text-align: center;
    }
}

@media only screen and (max-width: 720px){
    .card{
        width: 100px !important;
    }
}
