.cardMain {
  border: none;
  

  .big {
      max-width: 520px;
      max-height: 200px;
    
  }

  .min {
    width: 200px;
    height: 150px;
  }

  &:hover {
    cursor: pointer;
  }

  .card-text {
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .card {
    width: 100px !important;
  }
}
