.productOffer{
    margin-top: 50px !important;

    .react-horizontal-scrolling-menu--scroll-container{
        justify-content: space-around !important;
    }

    h3{
        margin-left: 42px;
    }
}

@media only screen and (max-width: 720px){
    h3{
        margin-left: 12px !important;
    }

    .cardMain {
        width: 130px !important;
    }
}