
.carouselProduct {
    width: 550px;
}

.carousel.carousel-slider .control-arrow ,
.carousel .carousel-status
{
    display: none;
}

@media only screen and (max-width: 720px){
    .carouselProduct {
        width:100%;
    }
}