.youCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;


    .yourProduct{
        display: flex;
        justify-content: center;

        .product{
            margin-right: 20px;
            
        }

        .info{
            margin-left:  20px;
        }
    }
}